<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna Stranica - Broj Generiranih Ulaznica</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Dobrodošli na Početnu Stranicu</h1>
    <p>Broj dosad generiranih ulaznica: <strong><%= ticketCount %></strong></p>
</div>
</body>
</html>